

<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title pull-left">
    <i class="fas fa-ticket-alt"></i> Relatorio de Despesas
  </h4>
  <button type="button" class="btn" (click)="close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body modal-scrollable justify-content-center" id="printableArea">
  <div class="col-12">
    <div class="card-header">
      <h5 class="card-title">Funcionario que solicitou: {{ relatorio.funcionario.nome | titlecase}}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title"> Relatorio: {{ relatorio.arquivoPdf }}</h5>
      <p class="card-text">Valor Total da Nid: R$ {{ relatorio.valor }} </p>
      <p class="card-text">Data de Criacao: {{ relatorio.data | date : 'dd/MM/yyyy HH:mm' }} </p>
    </div>
  </div>

</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Fechar
  </button>
</div>
