<div class="d-flex justify-content-center col">
  <div *ngIf="!isValidToken">
<!--    <div class="mt-2 d-flex row">-->
<!--      <div class="card col-3" *ngFor="let item of getData.relatorioDespesas">-->
<!--        <div class="card-header">-->
<!--          {{ item.funcionario.nome }}-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{ item.arquivoPdf }}</h5>-->
<!--          <p class="card-text">R$ {{ item.valor }} </p>-->
<!--          <p class="card-text">{{ item.data | date : 'dd/MM/yyyy HH:mm' }} </p>-->
<!--          <a class="btn btn-primary" (click)="getData.redirectTo(item)">Gerenciar esse NID</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-success" (click)="toReturnSelectedStatus(2)">
        Aprovar
      </button>
      <button type="button" class="btn danger" (click)="toReturnSelectedStatus(3)">
        Recusar
      </button>
    </div>
  </div>
</div>
