<div class="p-2 flex-col p-3 mb-3">
  <h1>Relatório de Despesas</h1>
</div>
<div class="card row m-3">
  <div class="col">
    <p class="h2 mb-3 mt-3">Filtragem</p>
  </div>
    <form [formGroup]="filterForm" (ngSubmit)="getAllData()">
      <div class="col-12 row">
        <div class="col-10">
          <div class="input-group">
            <ng-select *ngIf="funcionarios"
            [items]="funcionarios"
            bindLabel="nome"
            bindValue="id"
            placeholder="Selecione um funcionário"
            formControlName="idFuncionario">
          </ng-select>
          </div>
        </div>
        <div class="col-2 d-flex justify-content-between">
          <button class="btn btn-success col-6">Pesquisar</button>
          <button class="btn btn-secondary col-5" (click)="limparFiltro()">Limpar</button>
        </div>
      </div>
    </form>
  <div class="d-flex  mt-5 mb-3">
    <a class="btn btn-primary col-3" (click)="openAddModal()">Solicitar uma NID</a>
  </div>
  <div class="mt-2 d-flex row">
    <div class="card col-3" *ngFor="let item of relatorioDespesas">
      <div class="card-header">
        {{ item.funcionario.nome }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.arquivoPdf }}</h5>
        <p class="card-text">R$ {{ item.valor }} </p>
        <p class="card-text">{{ item.data | date : 'dd/MM/yyyy HH:mm' }} </p>
        <a class="btn btn-primary" (click)="redirectTo(item)">Visualizar NID</a>
      </div>
    </div>
  </div>
</div>

