<div class="p-2 flex-col p-3 mb-3">
  <h1>Relatório de Despesas</h1>
</div>
<div class="card row m-3">
  <div class="col">
    <p class="h2 mb-3 mt-3">Filtragem</p>
  </div>
    <form [formGroup]="formGroupFiltragem" (ngSubmit)="formGroupFiltragem.valid && getAllData()">
      <div class="col-4">
        <div class="col-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Funcionário" formControlName="idFuncionario" aria-label="Funcionario" aria-describedby="basic-addon1">
          </div>
        </div>
  <!--      <input class="input" placeholder="DD/MM/AAAA" formControlName="data" type="date">-->
  <!--      <input class="input" placeholder="Valor" formControlName="telefone" type="text" mask="9999-99-99">-->
        <div class="mt-3 mb-5">
          <button class="btn btn-success col-2">Pesquisar</button>
          <button class="btn btn-secondary col-2" (click)="limparFiltro()">Limpar</button>
        </div>
      </div>
    </form>
  <div class="d-flex flex-col">
    <a class="btn btn-primary col-3 mt-3" (click)="openAddModal()">Solicitar uma NID</a>
  </div>
  <div class="mt-2 d-flex row">
    <div class="card col-3" *ngFor="let item of relatorioDespesas">
      <div class="card-header">
        {{ item.funcionario.nome }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.arquivoPdf }}</h5>
        <p class="card-text">R$ {{ item.valor }} </p>
        <p class="card-text">{{ item.data | date : 'dd/MM/yyyy HH:mm' }} </p>
        <a class="btn btn-primary" (click)="redirectTo(item)">Visualizar NID</a>
      </div>
    </div>
  </div>
</div>

