<div class="d-flex row col-12">
  <div class="p-2 flex-fill col-12 p-3">
    <h1>Relatório de Despesas</h1>
  </div>
  <div class="card row">
    <form [formGroup]="formGroupFiltragem" (ngSubmit)="formGroupFiltragem.valid && getAllData()" class="form col-8">
      <p class="h2">Filtragem</p>
      <input class="input" placeholder="Funcionario" formControlName="idFuncionario" type="text">
<!--      <input class="input" placeholder="DD/MM/AAAA" formControlName="data" type="date">-->
<!--      <input class="input" placeholder="Valor" formControlName="telefone" type="text" mask="9999-99-99">-->
      <button class="btn btn-primary">Pesquisar</button>
      <button (click)="limparFiltro()">Limpar</button>
    </form>
    <a class="btn btn-primary col-3 mt-3" (click)="openAddModal()">Solicitar uma NID</a>
  </div>
  <div class="mt-2 d-flex row">
    <div class="card col-3" *ngFor="let item of relatorioDespesas">
      <div class="card-header">
        {{ item.funcionario.nome }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.arquivoPdf }}</h5>
        <p class="card-text">R$ {{ item.valor }} </p>
        <p class="card-text">{{ item.data | date : 'dd/MM/yyyy HH:mm' }} </p>
        <a class="btn btn-primary" (click)="redirectTo(item)">Visualizar NID</a>
      </div>
    </div>
  </div>
</div>

