<div class="login-wrapper">
  <div class="login-form-container">
    <div class="login-form">
      <form class="form" [formGroup]="formGroup">
        <p class="heading">Login</p>
        <input class="input" placeholder="Email" type="text" formControlName="email">
        <input class="input" placeholder="Senha" type="password" formControlName="password">
        <div *ngIf="isSubmitAlert === true">
          <div class="alertButton">
              <p>Esvreva email certo!!</p>
          </div>
        </div>
        <div *ngIf="isSubmit === true">
          <div class="submitedButton">
            <p>Email enviado com sucesso!!</p>
          </div>
        </div>
        <button class="btn" (click)="onSend()">Enviar</button>
      </form>
    </div>
  </div>
</div>
